* {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
    background-color: black;
   
}

h3 {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    perspective: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 5px;
    
}


.display {
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(55deg);
    width: 470px;
    background-color: blue;
    box-shadow: 10px 10px 10px wheat;
    border-radius: 5px;
}

.number1 {
    display: flex;
    justify-content: center;
}

.number2 {
    display: flex;
    justify-content: center;
}

.number3 {
    display: flex;
    justify-content: center;
}

.number4 {
    display: flex;
    justify-content: center;
  
}
.input {
    margin-bottom: -160px;
}
input {
    display: block;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
    font-size: 25px;
    color: yellow;
    background-color:green;
    box-shadow: 10px 3px 7px yellow;


}

input::placeholder {
    text-align: center;
    color: yellow;
}

input:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
}

.num1 {
    box-shadow: 10px 3px 7px yellow;
    background-color: green;
    margin: 10px 10px 10px 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    width: 90px;
    height: 90px;
    color: yellow;
    border-radius: 10px;
    transition: all 0.5s;
}

.num1:hover {
    background-color: white;
    color: green;
}